.project-discription {
    min-width: 300px;
    min-height: 300px
}

.project-section:nth-child(even) {
    flex-direction: row-reverse;
}

.project-img {
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    z-index: 100;
}

.project-img-shadhow {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: radial-gradient(circle,rgba(1, 162, 204, 1) 0%, rgba(0, 0, 0, 0) 49%);
    z-index: 90;
}

.project-img-center-line {
    width: 50%;
    top: 50%;
    left: 0;
    bottom: revert;
    right: revert;
    height: 3px;
    background: azure;
    transform: translateY(-50%);
}

.project-section:nth-child(even) .project-img-center-line {
    width: 50%;
    top: 50%;
    left: revert;
    right: 0;
    bottom: revert;
    height: 3px;
    background: azure;
    transform: translateY(-50%);
}

.project-img-side-line {
    height: 100%;
    width: 3px;
    top: 0;
    left: 0;
    bottom: revert;
    right: revert;
    background-color: azure;
    transform: translateX(-50%);
}

.project-section:nth-child(even) .project-img-side-line {
    height: 100%;
    width: 3px;
    top: 0;
    left: revert;
    bottom: revert;
    right: 0;
    background-color: azure;
    transform: translateX(50%);
}


.project-img-side-Diamond {
    top: 50%;
    left: 0;
    bottom: revert;
    right: revert;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: azure;
}

.project-section:nth-child(even) .project-img-side-Diamond {
    top: 50%;
    left: revert;
    bottom: revert;
    right: 0;
    width: 20px;
    height: 20px;
    transform: translate(50%, -50%) rotate(45deg);
    background-color: azure;
}

.project-name {
    font-weight: 400;
    color: var(--main-color2);
}

.project-discription-para {
    color: white;
}

.project-tech-tag {
    background-color: rgb(1, 162, 204 , 12%);
    border: 1px solid var(--main-color);
    color: white;
}

.project-navigate-buttons-visit {
    background-color: var(--main-color2);
    color: white;
}

.project-navigate-buttons-code , .project-navigate-buttons-more {
    background-color: white;
    color: var(--main-color)
}

@media (max-width : 995px) {
    .project-section {
        flex-direction: column-reverse;
    }

    .project-section:nth-child(even) {
        flex-direction: column-reverse;
    }

    .project-img-center-line , .project-section:nth-child(even) .project-img-center-line {
        width: 3px;
        top: revert;
        left: 50%;
        bottom: 0;
        height: 50%;
        background: azure;
        transform: translateY(0) translateX(-50%);
    }

    .project-img-side-line , .project-section:nth-child(even) .project-img-side-line {
        height: 3px;
        width: 90%;
        top: revert;
        left: 50%;
        bottom: 0;
        background-color: azure;
        transform: translate(-50%,50%);
    }

    .project-img-side-Diamond , .project-section:nth-child(even) .project-img-side-Diamond {
        top: revert;
        left: 50%;
        bottom: 0;
        width: 20px;
        height: 20px;
        transform: translate(-50%,50%) rotate(45deg);
        background-color: azure;
    }

}

@media (max-width : 440px) {
    
    .project-discription-para {
        font-size: 16px;
    }

    .project-button-container {
        margin-top: 0px !important;
    }

    .project-navigate-buttons {
        font-size: 14px
    }

    .project-tech-tag {
        font-size: 12px
    }

}